<div class="header-socials">
  <span class="header-socials-label">socials</span>
  <div class="header-social-icons">
    <a href="https://www.facebook.com/Whistlestopgrillandbar915" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
      <img src="assets/icons/facebook.svg" alt="" width="22" height="22" />
    </a>
    <a href="https://www.instagram.com/whistlestop_grill/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
      <img src="assets/icons/instagram.svg" alt="" width="22" height="22" />
    </a>
  </div>
</div>
